{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}Formulario de Recuperación de Contraseña{% endblock %}
{% block body %}
<main class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>{{ title }}</h1>
            <p>{% trans "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}</p>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <div class="form-row field-email">
                                {{ form.email.errors }}
                                <label for="id_email">{% trans 'Email address:' %}</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <input type="submit" type="button" class="btn btn-secondary value=" {% trans 'Reset my
                            password' %}">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
{% endblock %}
